  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  /* header用 */

  .header-wrapper {
    background-color: #ec715f;
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    height: 70px;
  }

  .header__logo > img {
    height: 70px;
  }

  @media screen and (max-width: 767px) {
    .header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
      height: 50px;
    }
    .header__logo > img {
      height: 50px;
    }
  }

  .nav-menu__list {
    display: flex;
  }

  .nav-menu__list__item {
    list-style: none;
    text-decoration: none;
    margin: auto 30px;
  }

  .nav-menu__list__item__link {
    color: #FAFAFA;
    display: block;
    text-decoration: none;
    font-size: 16px;
  }

  .nav-menu__list__item__link:hover {
    filter: opacity(0.6);
  }

  /* jQueryで非表示にした状態で画面を広げたときにメニューが消える不具合を修正 */
  /* 少しマニアックなバグなのであまり気にしなくても大丈夫です */
  /* 厳密にはjQuery側で対応する方が望ましいです */
  @media not screen and (max-width: 767px) {
    .nav-menu__list {
      display: flex !important;
    }
  }

  @media screen and (max-width: 767px) {
    .nav-menu__list {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      z-index: 1;
      display: none;
      background-color: #D65E4E;
    }

    .nav-menu__list__item {
      padding: 16px;
      text-align: center;
    }

    .nav-menu__button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      border: 1px #FAFAFA solid;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    .nav-menu__button:hover {
      filter: opacity(0.6);
    }

    .nav-menu__button__bar {
      background-color: #FAFAFA;
      display: block;
      height: 1px;
      width: 20px;
      margin: 0 auto;
      transition: transform 0.2s;
    }

    .nav-menu__button.active > .nav-menu__button__bar:nth-child(1) {
      -webkit-transform: translateY(6px) rotate(-45deg);
      transform: translateY(6px) rotate(-45deg);
    }

    .nav-menu__button.active > .nav-menu__button__bar:nth-child(2) {
      opacity: 0;
    }

    .nav-menu__button.active > .nav-menu__button__bar:nth-child(3) {
      -webkit-transform: translateY(-6px) rotate(45deg);
      transform: translateY(-6px) rotate(45deg);
    }
  }


  /* main-visual用 */

  .main-visual {
    position: relative;
    height: 650px;
    overflow: hidden;
  }

  .main-visual__img-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-overlay {
    padding-top: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    color: #FAFAFA;
    width: 90%;
    margin: 0 auto;
  }

  .top-text {
    font-size: 64px;
  }

  .bottom-text {
    font-size: 20px;
    padding-top: 10px;
  }

  @media screen and (max-width: 767px) {
    .top-text{
      font-size: 40px;
    }

    .bottom-text{
      font-size: 18px;
    }
  }


  /* main用 */

  .main {
    padding: 90px 0;
    background-color: #eceff1;
  }

  .main-text{
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    .main-text{
      width: 90%;
    }
  }

  .main-text-top{
    padding-bottom: 8px;
    font-size: 32px;
    color: #000000;
  }

  .bar{
    border: 1px solid #EC715F; /* 単位pxには小数点は非推奨 */
    width: 70px;
    margin: 0 auto;
  }

  @media screen and (max-width: 767px) {
    .bar{
      border: 3px solid #EC715F;
    }
  }

  .main-text-bottom{
    padding-top: 30px;
    font-size: 16px;
    color: #000000;
  }
  .img-container{

    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; /* columnとrowが同じならgapでOK */
  }

  @media screen and (max-width: 767px) {
    .img-container{
      width: 90%;
      display:block;
    }
  }

  .img-item{
    height: 250px;
    width: 100%;
    max-width: 300px;
  }

  @media screen and (max-width: 767px) {
    .img-item{
      margin: 0 auto;
    }
  }

  .img-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 767px) {
    .img-sp{
      display: none !important;
    }

    .img-center{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  /* main2用 */

  .main2 {
    padding: 90px 0;
  }

  .main2-text{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    .main2-text{
      width: 90%;
    }
  }

  .font-line-container{
    text-align: center;
  }

  .font-line{
    width: 100%;
    max-width: 980px;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
  }

  .font-line i{
    font-size: 60px;
    margin: 0 auto;
  }

  @media screen and (max-width: 767px) {
    .font-line{
      display: block;
      width: 90%;
    }
  }

  .font-line-top{
    text-align: center;
    font-size: 20px;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .font-line-bottom{
    font-size: 16px;
    color: #000000;
    text-align: left;
    overflow-wrap: break-word;
  }

  @media screen and (max-width: 767px) {
    .font-line-bottom{
      text-align: center;
    }

    .font-line-center{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }


  /* main3用 */

  .main3 {
    padding: 90px 0;
    background-color: #eceff1;
  }

  .main3-text{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    .main3-text{
      width: 90%;
    }
  }

  .main3-icon{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px) {
    .main3-icon{
      width: 90%;
      display: block;
    }
  }

  .main3-icon-img{
    margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
  }

  .main3-icon-img > img{
    width:  100%;
    height: 100%;
    object-fit: cover;
  }

  .main3-icon-top{
    font-size: 20px;
    padding-bottom: 5px;
  }

  .main3-icon-bottom{
    font-size: 16px;
    padding-bottom: 20px;
  }

  @media screen and (max-width: 767px) {
    .main3-icon-top{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    }

    .main3-icon-bottom{
      text-align: center;
    }
  }


  /* main4用 */

  .main4{
    padding: 90px 0;
  }

  .main4-text{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    .main4-text{
      width: 90%;
    }
  }

  .main4-line{
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  .main4-line__box{
    margin: 0 auto;
  }

  .main4-line-top{
    font-size: 20px;
    padding-bottom: 5px;
  }

  @media screen and (max-width: 767px) {
    .main4-line{
      width: 90%;
      display: block;
    }

    .main4-line__box{
      text-align: center;
    }
  }

  .mail{
    padding-bottom: 20px;
  }

  .sns__account{
    display: flex;
    gap: 20px;
  }

  .mail__link,
  .telephone__link,
  .sns__account__link{
    color: #000000;
    text-decoration: none;
  }

  .mail__link:hover,
  .telephone__link:hover,
  .sns__account__link:hover{
    filter: opacity(0.6);
  }

  .sns__account__link > i{
    font-size: 50px;
  }

  @media screen and (max-width: 767px) {

    .telephone{
      padding-bottom: 20px;
    }

    .sns__account{
      justify-content: center;
      gap: 8px;
    }
  }


  /* footer用 */

  .footer-wrapper {
    width: 100%;
    height: 60px;
    background-color: #EC715F;
  }

  .footer {
    text-align: center;
    font-size: 16px;
    line-height: 60px;
    color: #FAFAFA;
  }
