.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 70px;
  @media screen and (max-width: 767px) {
    width: 90%;
    height: 50px;
  }
  &__logo > img {
    height: 70px;
    @media screen and (max-width: 767px) {
      height: 50px;
    }
  }
}
